*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}
.form{
    width: 450px;
    margin: 0 auto;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.form-control label{
    font-weight: bold;
    margin-bottom: .3rem;
}
.form-control input{
    padding: 5px;
}