<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário ADD</title>
</head>
<body>
    <h1>Formulário de Cadastro</h1>
    <form action="/users/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="Digite seu nome">
        </div>
        <div>
            <input type="text" name="age" placeholder="Digite sua Idade">
        </div>
        <div>
            <input type="submit" value="Cadastro">
        </div>
    </form>
</body>
</html>