*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}
.form, .books-container{
    width: 450px;
    margin: 0 auto;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.form-control label{
    font-weight: bold;
    margin-bottom: .3rem;
}
.form-control input{
    padding: 5px;
}

/**BOOKS*/
.books-container div{
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.bold{
    font-weight: bold;
}