<h2>Página Home</h2>
<h3>O nome {{user.name}} {{user.surname}} e a idade {{user.age}} anos</h3>
<p>{{palavra}}</p>
{{#if auth}}
    <p>Você está atenticado, <a href="./dashboard">Clique aqui</a> para acessar a área de membros</p>
{{/if}}
