<h1>Adicionar usuário</h1>
<form action="/users/create" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome do usuário" pattern="[A-Za-z]{6,12}">
    </div>

    <div class="form-control">
        <label for="cpf">CPF:</label>
        <input type="number" name="cpf" placeholder="Digite o seu cpf" min="8" max="10">
    </div>

    <div class="form-control">
        <label for="occupation">occupation</label>
        <input type="text" name="occupation" placeholder="Digite a profissão">
    </div>
    <div class="form-control form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">Enviar Promoções?</label>
    </div>
    <div class="form-control">
        <input type="submit" value="Cadastrar">
    </div>
</form>