*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#navbar{
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin:0;
}

#navbar ul li {
    margin-left: 1rem;
}

h1{
    text-align: center;
}

.form{
    width: 450px;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
.form-control label{
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.form-control input{
    margin-right: 10px;
}

.form-checkbox{
    flex-direction: row;
}

.form-checkbox input{
    margin-right: 10px
}

/*Users*/
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
}

input {
    border:2px solid #000;
}

.form-control input:invalid {
    border: 2px solid red;
}

.container .item{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 20px;
    flex: 1 1 29%;
    max-width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item h2,
.item p{
    margin-bottom:8px ;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.actions a,
.actions input{
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    background-color: #FFF;
    padding: 5px;
    font-size: 15px;
    color: #000;
    cursor: pointer;
}

.actions .details-btn{
    border-color: #004085;
    color: #004085;
}
.actions .delete-btn{
    border-color: #721c24;
    color: #721c24;
}