<h1>Cadastre seu livro</h1>
<form action="/books/insertbook" method="post" class="form">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o titulo">
    </div>
    <div class="form-control">
        <label for="nm_paginas">Quantidade de páginas</label>
        <input type="text" name="nm_paginas" placeholder="Ex..:500">
    </div>
    <div class="form-control">
        <input type="submit" value="Cadastrar">
    </div>
</form>