<h1>Edite seu livro</h1>
<form action="" method="post" class="form">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" value="{{book.title}}" >
    </div>
    <div class="form-control">
        <label for="nm_paginas">Quantidade de páginas</label>
        <input type="text" name="nm_paginas" value="{{book.nm_paginas}}">
    </div>
    <div class="form-control">
        <input type="submit" value="Atualizar">
    </div>
</form>